{% extends 'base.html.twig' %}

{% block body %}
    <h1>Noticia</h1>

    <table>
        <tbody>
            <tr>
                <th>Descripcion</th>
                <td>{{ noticium.descripcion }}</td>
            </tr>
            <tr>
                <th>Fechahora</th>
                <td>{% if noticium.fechaHora %}{{ noticium.fechaHora|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{% if noticium.visible %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ noticium.titulo }}</td>
            </tr>
            <tr>
                <th>Antetitulo</th>
                <td>{{ noticium.antetitulo }}</td>
            </tr>
            <tr>
                <th>Fuente</th>
                <td>{{ noticium.fuente }}</td>
            </tr>
            <tr>
                <th>Enlace</th>
                <td>{{ noticium.enlace }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ noticium.autor }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ noticium.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('noticia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('noticia_edit', { 'id': noticium.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
