{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estadistica list</h1>

    <table>
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Fechahora</th>
                <th>Visible</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Ruta</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estadistica in estadisticas %}
            <tr>
                <td><a href="{{ path('estadistica_show', { 'id': estadistica.id }) }}">{{ estadistica.descripcion }}</a></td>
                <td>{% if estadistica.fechaHora %}{{ estadistica.fechaHora|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if estadistica.visible %}Yes{% else %}No{% endif %}</td>
                <td>{{ estadistica.titulo }}</td>
                <td>{{ estadistica.autor }}</td>
                <td>{{ estadistica.ruta }}</td>
                <td>{{ estadistica.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('estadistica_show', { 'id': estadistica.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('estadistica_edit', { 'id': estadistica.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estadistica_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
