{% extends 'base.html.twig' %}

{% block body %}
    <h1>Información</h1>

    <table class="lista">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Fecha - hora</th>
                <th>Visible</th>
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for informacion in informacions %}
            <tr>
                <td>>{{ informacion.descripcion }}</td>
                <td>{% if informacion.fechaHora %}{{ informacion.fechaHora|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if informacion.visible %}Sí{% else %}No{% endif %}</td>
                 <td>   
                     <a href="{{ path('informacion_show', { 'id': informacion.id }) }}"
                        <span class="glyphicon glyphicon-search text-success">                                   
                            </span>
                        </a>
                </td>                    
                 <td>   
                                 
                     <a href="{{ path('informacion_edit', { 'id': informacion.id }) }}">
                        <span class="glyphicon glyphicon-pencil text-success">                                   
                            </span>
                        </a>
                </td>                    
                
                
                <td>
                
                    
                </td>
                
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        
        
        
        <li> <a href="{{ path('informacion_new') }}">
                        <span align="right" class="glyphicon glyphicon-plus-sign text-success">                                   
                            </span>
                        </a>
                        
        </li>
    </ul>
{% endblock %}
