{% extends 'base.html.twig' %}

{% block body %}
    <h1>Informacion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Descripcion</th>
                <td>{{ informacion.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha -hora</th>
                <td>{% if informacion.fechaHora %}{{ informacion.fechaHora|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{% if informacion.visible %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ informacion.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('informacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('informacion_edit', { 'id': informacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
