

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Documentos</h1>

    
            
             <div align="right">
      <a href="{{ path('documento_index', { 'id': documento.id }) }}">Volver
        <span class="glyphicon glyphicon-arrow-left"></span>
        </a>   
        </div>
    <div class="page-container">
            
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-settings font-green"></i>
                                        <span class="caption-subject bold uppercase"></span>
                                    </div>                                   
                                </div>   
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_2">
                                     <tr>
            				    <th>Descripcion</th>
            				    <td>{{ documento.descripcion }}</td>
           				 </tr>
          							  <tr>
              				    <th>Ruta</th>
            				    <td>{{ documento.ruta }}</td>
           				  </tr>
          				  <tr>
           				       <th>Visible</th>
            				    <td>{% if documento.visible %}Yes{% else %}No{% endif %}</td>
           				 </tr>
           				 <tr>
            				    <th>Fechahora</th>
            				    <td>{% if documento.fechaHora %}{{ documento.fechaHora|date('Y-m-d H:i:s') }}{% endif %}</td>
          				  </tr>
          					  <tr>
                <th>Id</th>
                <td>{{ documento.id }}</td>
            </tr>
                                    </table>
                                        
                                </div>
                                </div> 
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                      
                    </div>
            <!-- END CONTENT BODY -->
        </div>       
    
     
            <div align="right">
         
    {{ form_start(delete_form) }}
               <a href="{{ path('documento_edit', { 'id': documento.id }) }}" class="btn btn-info" role="button">Editar</a>

                <input type="submit" class="btn btn-danger"   value="Eliminar">
                    <!--input type="submit" value="Eliminar"-->
                    </button>
            {{ form_end(delete_form) }}    
        
        </div>

    
                                
            
        
{% endblock %}

