{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enlace list</h1>

    <table>
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Fechahora</th>
                <th>Visible</th>
                <th>Titulo</th>
                <th>Ruta</th>
                <th>Enlace</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enlace in enlaces %}
            <tr>
                <td><a href="{{ path('enlace_show', { 'id': enlace.id }) }}">{{ enlace.descripcion }}</a></td>
                <td>{% if enlace.fechaHora %}{{ enlace.fechaHora|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if enlace.visible %}Yes{% else %}No{% endif %}</td>
                <td>{{ enlace.titulo }}</td>
                <td>{{ enlace.ruta }}</td>
                <td>{{ enlace.enlace }}</td>
                <td>{{ enlace.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('enlace_show', { 'id': enlace.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('enlace_edit', { 'id': enlace.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enlace_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
