{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enlace</h1>

    <table>
        <tbody>
            <tr>
                <th>Descripcion</th>
                <td>{{ enlace.descripcion }}</td>
            </tr>
            <tr>
                <th>Fechahora</th>
                <td>{% if enlace.fechaHora %}{{ enlace.fechaHora|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{% if enlace.visible %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ enlace.titulo }}</td>
            </tr>
            <tr>
                <th>Ruta</th>
                <td>{{ enlace.ruta }}</td>
            </tr>
            <tr>
                <th>Enlace</th>
                <td>{{ enlace.enlace }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ enlace.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enlace_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('enlace_edit', { 'id': enlace.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
