{% extends 'base.html.twig' %}

{% block body %}
    <h1>Banner</h1>

    <table>
        <tbody>
            <tr>
                <th>Rutabanner</th>
                <td>{{ banner.rutaBanner }}</td>
            </tr>
            <tr>
                <th>Rutafooter</th>
                <td>{{ banner.rutaFooter }}</td>
            </tr>
            <tr>
                <th>Rutalogo</th>
                <td>{{ banner.rutaLogo }}</td>
            </tr>
            <tr>
                <th>Rutasplash</th>
                <td>{{ banner.rutaSplash }}</td>
            </tr>
            <tr>
                <th>Fechahora</th>
                <td>{% if banner.fechaHora %}{{ banner.fechaHora|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Visiblesplash</th>
                <td>{% if banner.visibleSplash %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ banner.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('banner_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('banner_edit', { 'id': banner.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
