{% extends 'base.html.twig' %}

{% block body %}
    <h1>ImagenInformacion list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imagenInformacion in imagenInformacions %}
            <tr>
                <td><a href="{{ path('imageninformacion_show', { 'id': imagenInformacion.id }) }}">{{ imagenInformacion.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('imageninformacion_show', { 'id': imagenInformacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('imageninformacion_edit', { 'id': imagenInformacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imageninformacion_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
