{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creación de Noticias Internas</h1>
<div class="row">
        <div class="col-xs-12 col-sm-12	col-md-12 col-lg-12 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                </div>
                <div class="portlet-body form">
                    {{ form_start(form) }}{{ tinymce_init() }}
                    {{ form_widget(form) }}
                    <button type="reset" class="btn btn-primary"  id="clear">Limpiar</button>
                    <a href="{{ path('noticiainterna_index') }}" class="btn btn-danger" role="button">Cancelar</a>
                    <button type="submit" class="btn btn-success ">Enviar</button>
                    {{ form_end(form) }}
                    <br>
                    <div class="form-actions">
                    </div>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
 
    </div>
    
{% endblock %}
{% block javascripts_extra %} 
<script>
    $('document').ready(function(){
     
    });
    
    
    
    </script>
{% endblock %}