{% extends 'base.html.twig' %}

{% block body %}
    <h1>ImagenNoticia list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imagenNoticium in imagenNoticias %}
            <tr>
                <td><a href="{{ path('imagennoticia_show', { 'id': imagenNoticium.id }) }}">{{ imagenNoticium.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('imagennoticia_show', { 'id': imagenNoticium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('imagennoticia_edit', { 'id': imagenNoticium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imagennoticia_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
